<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <title>Checkout | Shop+ - Responsive HTML5 Multipurpose Ecommerce Template</title>
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
   <link href='assets/font-face/helvetica.css' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="assets/css/bootstrap.css">
   <!-- <link rel="stylesheet" href="plugins/accessiblemegamenu/megamenu.css"> -->
   <link rel="stylesheet" href="assets/css/vendor/validation-engine.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="assets/fonts/simple-line-icons.css">
   <link rel="stylesheet" href="assets/fonts/elegant-icons.css">
   <script src="js/modernizr-2.6.2.min.js"></script>
</head>
<body>
   <header>
      <!-- mobile menu begin -->
      <div class="mobile-menu">
         <nav>
            <div class="mobile-menu-button">
               MENU
               <a href="#" class="mobile-menu-toggler"><span></span><span></span><span></span></a>
            </div>
            <div class="mobile-menu-body">
               <div class="mobile-menu-search clearfix">
                  <form action="/">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                     </div>
                     <button type="submit" class="btn btn-default"><i class="icon-magnifier"></i></button>
                  </form>
               </div>
               <ul>
                  <li><a href="#"><i class="icon-home"></i> Home</a></li>
                  <li>
                     <a href="#"><i class="icon-user"></i> Men</a>
                     <a class="submenu-toggler" href="#"><i class="arrow_carrot-down"></i></a>
                     <ul>
                        <li><a href="#"><span>Shirts</span></a></li>
                        <li><a href="#"><span>Jumper & Cardigans</span></a></li>
                        <li><a href="#"><span>Autumn Jackets</span></a></li>
                        <li><a href="#"><span>Winter Jackets</span></a></li>
                        <li><a href="#"><span>Leather Jackets</span></a></li>
                        <li><a href="#"><span>Jeans</span></a></li>
                        <li><a href="#"><span>Shoes</span></a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="#"><i class="icon-user-female"></i> Women</a>
                     <a class="submenu-toggler" href="#"><i class="arrow_carrot-down"></i></a>
                     <ul>
                        <li><a href="#"><span>Shirts</span></a></li>
                        <li><a href="#"><span>Jumper & Cardigans</span></a></li>
                        <li><a href="#"><span>Autumn Jackets</span></a></li>
                        <li><a href="#"><span>Winter Jackets</span></a></li>
                        <li><a href="#"><span>Leather Jackets</span></a></li>
                        <li><a href="#"><span>Jeans</span></a></li>
                        <li><a href="#"><span>Shoes</span></a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="#"><i class="icon-screen-desktop"></i> Electronics</a>
                     <a class="submenu-toggler" href="#"><i class="arrow_carrot-down"></i></a>
                     <ul>
                        <li><a href="#"><span>Shirts</span></a></li>
                        <li><a href="#"><span>Jumper & Cardigans</span></a></li>
                        <li><a href="#"><span>Autumn Jackets</span></a></li>
                        <li><a href="#"><span>Winter Jackets</span></a></li>
                        <li><a href="#"><span>Leather Jackets</span></a></li>
                        <li><a href="#"><span>Jeans</span></a></li>
                        <li><a href="#"><span>Shoes</span></a></li>
                     </ul>
                  </li>
               </ul>
               <p><i class="icon-call-in"></i> + 1 (800) 2364 332 23 16</p>
               <p><i class="icon-envelope"></i>your@email.com</p>
            </div>
         </nav>
      </div>
      <!-- mobile menu end -->
      <!-- page header begin -->
      <div class="pg-header">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-12 title">
                  <h1>Checkout</h1>
               </div>
               <div class="col-md-6 col-sm-12">
                  <div class="b-crumbs pull-right"><a href="#">Home</a> <i class="arrow_carrot-right"></i> Basic Page</div>
               </div>
            </div>
         </div>
      </div>
      <!-- page header end -->

   </header>

   <!-- page body content begin -->
   <div class="pg-body">
      <div class="container">
         <div class="row">
            <div class="container checkout-menu">
               <a href="" class="btn btn-yet-col col-sm-3 col-xs-12">ORDER COMPLETE</a>
               <a href="" class="btn btn-yet-col col-sm-3 col-xs-12">PAYMENT METHOD</a>
               <a href="" class="btn btn-yet-col col-sm-3 col-xs-12">BILLING &amp; SHIPPING</a>
               <a href="" class="btn btn-third-col col-sm-3 col-xs-12">CHECKOUT OPTION</a>
            </div>
         </div>
         <div class="row">
            <div class="you-order mobile-collapse col-md-5 col-xs-12 pull-right clearfix">
               <div class="mobile-collapse-header">YOUR ORDER</div>

               <div class="table_block table-responsive clearfix mobile-collapse-body" id="order-detail-content">

                  <div class="dd-list-empty">There is no product in it!</div>
                  <div class="dropdown-product-list">
                     <table class="table" id="cart_summary">
                        <tbody>
                           <tr class="cart_item first_item address_0 odd dd-product-group">
                              <td class="cart_product">
                                 <a href="product-page.html">
                                    <img alt="Faded Short Sleeve T-shirts" src="assets/images/prd-1.jpg">
                                 </a>
                              </td>
                              <td class="cart_description">
                                 <p class="product-name">
                                    <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                                 </p>
                                 <div class="qty">1 x <span>$700.00</span></div>
                                 <small>Color: <span>Red</span></small>
                                 <small>Product Code: <span>12658472</span></small>
                                 <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                              </td>
                           </tr>

                           <tr class="cart_item first_item address_0 odd dd-product-group">
                              <td class="cart_product">
                                 <a href="product-page.html">
                                    <img alt="Faded Short Sleeve T-shirts" src="assets/images/prd-2.jpg">
                                 </a>
                              </td>
                              <td class="cart_description">
                                 <p class="product-name">
                                    <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                                 </p>
                                 <div class="qty">1 x <span>$700.00</span></div>
                                 <small>Color: <span>Red</span></small>
                                 <small>Product Code: <span>12658472</span></small>
                                 <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                              </td>
                           </tr>
                           <tr class="cart_item first_item address_0 odd dd-product-group">
                              <td class="cart_product">
                                 <a href="product-page.html">
                                    <img alt="Faded Short Sleeve T-shirts" src="assets/images/prd-3.jpg">
                                 </a>
                              </td>
                              <td class="cart_description">
                                 <p class="product-name">
                                    <a href="product-page.html">Majestic Beecroft Sweater For Him</a>
                                 </p>
                                 <div class="qty">1 x <span>$700.00</span></div>
                                 <small>Color: <span>Red</span></small>
                                 <small>Product Code: <span>12658472</span></small>
                                 <a class="close-btn ddr" href="#"><i class="icon_close"></i></a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="container col-xs-12 tfoot">
                        <p class="row info"><span class="pull-left col-xs-6">Cart Subtotal:</span><span class="pull-right col-xs-6 text-right">$2100.00</span></p>
                        <p class="row info"><span class="pull-left col-xs-6">Shipping:</span><span class="pull-right col-xs-6 text-right gray">Free Shipping</span></p>
                        <p class="row info total"><span class="pull-left col-xs-6">ORDER TOTAL:</span><span class="col-xs-6 pull-right text-right">$2100.00</span></p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-7 col-xs-12 pull-left">
               <div id="accordion-order">
                  <div class="accordion-group panel">
                     <a href="#collapse-1" data-parent="#accordion-order" data-toggle="collapse" class="accordion-header">
                        CHECKOUT OPTION
                     </a>
                     <div class="collapse in" id="collapse-1" style="">
                        <div class="accordion-body">
                           <div class="row">
                              <div class="col-md-6 col-xs-12">
                                 <form action="#">
                                    <h6>NEW CUSTOMER</h6>
                                    <p>Register with us for future convenience</p>
                                    <input type="checkbox" class="stl" value="2" name="checkbox" id="checkbox1">
                                    <label class="stl checkbox" for="checkbox1"><span></span>Register Account</label><br>
                                    <input type="checkbox" checked="checked" class="stl" value="3" name="checkbox" id="checkbox2">
                                    <label class="stl checkbox" for="checkbox2"><span></span>Checkout us Guest</label><br>     
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  eiusmod tempor incididunt ut labore et dolore magna aliqua. veniam, quis nostrud  nostrud exercitation laboris. </p>
                                    <button type="submit" class="btn btn-third-col btn-md">CONTINUE</button>
                                 </form>
                              </div>
                              <div class="col-md-6 col-xs-12">
                                 <form action="#">
                                    <h6>REGISTERED CUSTOMER</h6>
                                    <p>If you have an account with us, please log in.</p>
                                    <div class="form-group">
                                       <input type="email" placeholder="Enter your email *" class="placeholder-fix form-control" name="email">
                                    </div>
                                    <div class="form-group">
                                       <input type="password" placeholder="Enter your password *" class="placeholder-fix form-control" name="password">
                                    </div>
                                    <input type="checkbox" checked="checked" class="stl" value="3" name="checkbox" id="checkbox3">
                                    <label class="stl checkbox" for="checkbox3"><span></span>Remember Password</label><br>
                                    <button class="btn btn-third-col btn-md" type="submit">LOGIN</button>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group panel">
                     <a href="#collapse-2" data-parent="#accordion-order" data-toggle="collapse" class="accordion-header collapsed">
                        BILLING INFORMATION
                     </a>
                     <div class="collapse" id="collapse-2" style="height: 0px;">
                        <div class="accordion-body">
                           <div class="row">
                              <div class="col-md-6 col-xs-12">
                                 <h6>PERSONAL DETAIL</h6><br>
                                 <div class="form-group">
                                    <input type="text" placeholder="First Name *" class="placeholder-fix form-control" name="f_name">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Last Name *" class="placeholder-fix form-control" name="l_name">
                                 </div>
                                 <div class="form-group">
                                    <input type="email" placeholder="E-mail Address *" class="placeholder-fix form-control" name="email">
                                 </div>
                                 <div class="form-group">
                                    <input type="tel" placeholder="Phone *" class="placeholder-fix form-control" name="phone">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Company " class="placeholder-fix form-control" name="company">
                                 </div>
                                 <input type="checkbox" class="stl" value="2" name="checkbox" id="checkbox4">
                                 <label class="stl checkbox" for="checkbox4"><span></span>My dilivery and billing addresses are the same</label><br>
                                 <input type="checkbox" checked="checked" class="stl" value="3" name="checkbox" id="checkbox5">
                                 <label class="stl checkbox" for="checkbox5"><span></span>Ship a different address</label><br> 
                              </div>
                              <div class="col-md-6 col-xs-12">
                                 <h6>YOUR ADDRESS</h6><br>
                                 <div class="row">
                                    <div class="required form-group col-xs-12">
                                       <select class="form-control s-styled hasCustomSelect" name="billing-country">
                                          <option selected hidden>Country</option>
                                          <option value="1">01</option>
                                          <option value="2">02</option>
                                          <option value="3">03</option>
                                          <option value="4">04</option>
                                          <option value="5">05</option>
                                          <option value="6">06</option>
                                          <option value="7">07</option>
                                          <option value="8">08</option>
                                          <option value="9">09</option>
                                          <option value="10">10</option>
                                          <option value="11">11</option>
                                          <option value="12">12</option>
                                          <option value="13">13</option>
                                          <option value="14">14</option>
                                          <option value="15">15</option>
                                          <option value="16">16</option>
                                          <option value="17">17</option>
                                          <option value="18">18</option>
                                          <option value="19">19</option>
                                          <option value="20">20</option>
                                          <option value="21">21</option>
                                          <option value="22">22</option>
                                          <option value="23">23</option>
                                          <option value="24">24</option>
                                          <option value="25">25</option>
                                          <option value="26">26</option>
                                          <option value="27">27</option>
                                          <option value="28">28</option>
                                          <option value="29">29</option>
                                          <option value="30">30</option>
                                          <option value="31">31</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Town / City * " class="placeholder-fix form-control" name="city">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="State / Province * " class="placeholder-fix form-control" name="state">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Postcode / Zip * " class="placeholder-fix form-control" name="zip_code">
                                 </div>
                                 <input type="checkbox" checked="checked" class="stl" value="3" name="checkbox" id="checkbox6">
                                 <label class="stl checkbox" for="checkbox6"><span></span>I have reed and agree to the <a href="">Privacy Policy</a></label><br> 
                                 <button class="btn btn-third-col btn-md" type="submit">CONTINUE</button>
                              </div>
                              <div class="col-xs-12">
                                 <br><h6>SHIPPING ADDRESS</h6><br>
                                 <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                       <div class="form-group">
                                          <input type="text" placeholder="First Name *" class="placeholder-fix form-control" name="f_name">
                                       </div>
                                       <div class="form-group">
                                          <input type="email" placeholder="E-mail Address *" class="placeholder-fix form-control" name="email">
                                       </div>
                                       <div class="row">
                                          <div class="required form-group col-xs-12">
                                             <select class="form-control s-styled hasCustomSelect" name="billing-country">
                                                <option selected hidden>Country</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="form-group">
                                          <input type="text" placeholder="State / Province * " class="placeholder-fix form-control" name="state">
                                       </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                       <div class="form-group">
                                          <input type="text" placeholder="Last Name *" class="placeholder-fix form-control" name="l_name">
                                       </div>
                                       <div class="form-group">
                                          <input type="text" placeholder="Company " class="placeholder-fix form-control" name="company">
                                       </div>
                                       <div class="form-group">
                                          <input type="text" placeholder="Town / City * " class="placeholder-fix form-control" name="city">
                                       </div>
                                       <div class="form-group">
                                          <input type="text" placeholder="Postcode / Zip * " class="placeholder-fix form-control" name="zip_code">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group panel">
                     <a href="#collapse-3" data-parent="#accordion-order" data-toggle="collapse" class="accordion-header collapsed">
                        SHIPPING METHOD
                     </a>
                     <div class="collapse" id="collapse-3" style="height: 0px;">
                        <div class="accordion-body">
                           <div class="row">
                              <div class="col-xs-12">
                                 <div class="form-group radio">
                                    <input type="radio" class="stl" name="shipping_method" id="airplane" value="Airplane">
                                    <label for="airplane" class="stl"><span><span></span></span>Airplane</label>
                                    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                 </div>
                                 <div class="form-group radio">
                                    <input type="radio" class="stl" name="shipping_method" id="transport" value="Transport">
                                    <label for="transport" class="stl"><span><span></span></span>Transport</label>
                                    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                 </div>
                                 <div class="form-group radio">
                                    <input type="radio" class="stl" name="shipping_method" id="train" value="Train">
                                    <label for="train" class="stl"><span><span></span></span>Train</label>
                                    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-group panel">
                     <a href="#collapse-4" data-parent="#accordion-order" data-toggle="collapse" class="accordion-header collapsed">
                        PAYMENT METHOD
                     </a>
                     <div class="collapse" id="collapse-4" style="height: 0px;">
                        <div class="accordion-body">
                           <div class="row">
                              <div class="col-xs-12">
                                 <div class="form-group radio">
                                    <input type="radio" class="stl" name="payment_method" id="transfer" value="transfer">
                                    <label for="transfer" class="stl"><span><span></span></span>Direct Bank Transfer</label>
                                    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                 </div>
                                 <div class="form-group radio">
                                    <input type="radio" class="stl" name="payment_method" id="cheque" value="Cheque">
                                    <label for="cheque" class="stl"><span><span></span></span>Cheque payment</label>
                                    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                 </div>
                                 <div class="form-group radio">
                                    <input type="radio" class="stl" name="payment_method" id="PayPal" value="PayPal">
                                    <label for="PayPal" class="stl"><span><span></span></span>PayPal <img src="assets/images/paypal_icon.jpg" alt="paypal"></label>
                                    <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam sem, hendrerit ut faubus sit amet, bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. vipsum nectac ligula placerat sollicitudin. Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc lobortis dui neque, quis accumsan dolor. Aenean aliquet dignissim semper maecenas ullamcorper.</p>
                                 </div>
                              </div>
                           </div>
                           <br>
                           <div class="row big-button">
                              <div class="col-xs-12 clearfix">
                                 <button class="btn btn-lg btn-third-col" type="submit">PLACE ORDER</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12">
                     <h6 class="accordion-h6">ORDER NOTES</h6>
                     <div class="required form-group">
                        <textarea rows="3" class="form-control placeholder-fix" placeholder="Notes about your order"></textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> <!-- pg-body -->
   <!-- JS Libs -->
   <script src="js/jquery-1.11.0.min.js"></script>
   <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/jquery.bxslider.min.js"></script>
   <script src="js/jquery-accessibleMegaMenu.js"></script>
   <script src="js/jquery.validationEngine.js"></script>
   <script src="js/jquery.validationEngine-en.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/scripts.js"></script>
</body>
</html>
